server {
  listen                               ${NGINX_SITE_2_SERVER_HOST}:${NGINX_SITE_2_SERVER_PORT} default_server;
  server_name                          ${NGINX_SITE_2} *.${NGINX_SITE_2};
  location / {
    return 301                         https://$host$request_uri;
  }
}